<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3 class="text-center">
            Cambiar Contraseña
        </h3>
        <form [formGroup]="changePass" (ngSubmit)="savePassword()" >
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña Anterior" formControlName="passBefore">
                <span class="text-danger ml-3"
                *ngIf="changePass.get('passBefore')?.hasError('required') && changePass.get('passBefore')?.touched">
                    La contraseña <strong>es requerida.</strong>
                </span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Nueva Contraseña" formControlName="newPass">
                <span class="text-danger ml-3"
                *ngIf="changePass.get('newPass')?.hasError('required') && changePass.get('newPass')?.touched">
                    La nueva contraseña <strong>es requerida.</strong>
                </span>
                <span class="text-danger ml-3"
                *ngIf="changePass.get('newPass')?.hasError('minlength')">
                    La nueva contraseña debe tener<strong> mínimo 4 caracteres.</strong>
                </span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Repetir Contraseña" formControlName="confirmPass">
                <span class="text-danger ml-3"
                *ngIf="changePass?.hasError('notSame')">
                    Contraseñas <strong>distintas.</strong>
                </span>
            </div>
            <div class="col text-center">
                <button class="btn btn-primary mr-2 btn-accept" [disabled]="changePass.invalid">Aceptar</button>
                <button class="btn btn-secondary" routerLink="../">Volver</button>
            </div>
        </form>
    </div>
</div>